* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #3f4551;
}

#app {
  display: flex;
}

#nav {
  background-color: white;
  height: 100vh;
  width: 26vw;
}

#logo-container {
  display: flex;
  align-items: center;
}

#logo {
  height: 150px;
  cursor: pointer;
}

#logo-text {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 10px;
  color: #084a83;
  padding-bottom: 20px;
  cursor: pointer;
}

.nav-link {
  font-size: 2.5rem;
  text-align: left;
  margin: 5rem;
  cursor: pointer;
}

.nav-link::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #084a83;
  margin: auto;
  display: block;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.1s linear;
}

.icons {
  color: #084a83;
  margin-right: 20px;
}

#posts-container {
  background-color: #084a83;
  width: 74vw;
  overflow-y: scroll;
  max-height: 100vh;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffe8c8;
  border-radius: 10px;
  margin: 20px;
}

.post-message {
  font-size: 1.5rem;
  padding: 30px 0px;
  width: 90%;
}

.top-row-container {
  display: flex;
}

.top-row-text {
  font-size: 1.5rem;
  padding-top: 20px;
}

.main-post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#login {
  background-image: url(images/pelicanBack.jpg);
  background-size: cover;

  /* background-color: white; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #025484;
}

#register {
  background-image: url(images/pelicanBack.jpg);
  background-size: cover;

  /* background-color: white; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #025484;
}

.loginField {
  align-items: center;
  background-color: rgba(245, 245, 245, 0.718);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  justify-content: space-around;
  height: 65%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* #loginField input {
  width: 70%;
  height: 10%;
  
} */
.loginButtons {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.loginInputs {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginInputs input {
  width: 70%;
  height: 100%;
  margin-bottom: 5px;
  font-size: 1.5rem;
}
.loginInputs input::placeholder {
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

#chirpLogin {
  /* background-color: rgba(255, 255, 255, 0.934); */
  /* width: 100%; */
  font-size: 2.2rem;
  color: #025484;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#chirpRegister {
  /* background-color: rgba(255, 255, 255, 0.934); */
  /* width: 100%; */
  font-size: 2.2rem;
  color: #025484;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loginLogo {
  height: 100px;
  margin-top: 20px;
}
.loginButtons button {
  display: inline-block;
  padding: 1em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 1.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #0676b7;
  text-align: center;
  transition: all 0.15s;
}
#loginButtons button:hover {
  background-color: #0da5fd;
}

.bottom-row-container {
  display: flex;
}

.bottom-row-text {
  font-size: 1.5rem;
  padding-bottom: 20px;
  cursor: pointer;
}

.spacer {
  padding-right: 15rem;
}

.embedded-song {
  border-radius: 10px;
  width: 90%;
  height: 200px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #ffe8c8;
  border-radius: 50px;
}

.create-post {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  font-size: 5rem;
  background-color: white;
  color: #084A83;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.create-post:hover {
  box-shadow: 0px 0px 5px black;
}

#create-post-container {
  height: 250px;
  width: 600px;
  position: absolute;
  bottom: 2%;
  right: 10%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-input {
  height: 80px;
  width: 400px;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
}

.post-input:hover {
  box-shadow: 0px 0px 10px black;
}

.post-button {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  background-color: #084A83;
  color: white;
  margin: 10px;
}

.post-button:hover {
  box-shadow: 0px 0px 10px black;
}

.close-post-button {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  background-color: #ff073c;
  color: white;
  margin: 10px;

}

.close-post-button:hover {
  box-shadow: 0px 0px 10px black;
}

#comments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comment {
  height: 200px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.comment-top-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.comment-top-row-text {
  font-size: 1.3rem;
}

.comment-main-text {
  font-size: 1.5rem;
  padding: 20px;
}

#new-comment-container {
  height: 100px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
}

.comment-input {
  height: 50px;
  width: 60%;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
}

.comment-button {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  background-color: #084A83;
  color: white;
  margin: 10px;
}

.delete-comment-button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
  font-size: 2rem;
  background-color: #ff073c;
  color: white;
  text-align: center;
  cursor: pointer;
}

@media only screen and (min-width: 1920px) {
  .nav-link {
    font-size: 1.5rem;
    padding: 5px;
    margin: 70px;
  }
}
